---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        <b>曾叶鑫网页作业</b>通过导入awacke1的头像生成项目<b>Image to Line Drawings</b> ,实现了生成式AI驱动的画线提取和素描风格画像。 
    </p>
    <p>
    	<b>Yexin Zeng webpage assignment</b> visualized the AI portraits generating function by importing <b>Image to Line Drawings</b>, made by awacke1. 
    </p>
</div>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/4.41.0/gradio.js"
></script>

<gradio-app src="https://awacke1-Image-to-Line-Drawings.hf.space" theme_mode="light"></gradio-app>




<section>
    <h2>Claiming 个人免责声明</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>



